#title_add{
    font-size: 22px;
    margin-bottom: 1em;
    font-family: "Minion Pro", serif;
    font-style: italic;
    text-transform: inherit;
}

div.input{

    margin-bottom: 15px;
}

.error-message{

    padding-left: 5px;
    padding-top: 5px;
    color: #B32626;
}
button.btn{
    padding: 6px 12px !important;
}
.message{
    background-color: #DE434E;
    border: 1px solid #e7eaec;
    text-align: left;
    display: block;
    padding: 10px 25px;
    position: relative;
    border-radius: 4px;
    color: white;
    /* margin-bottom: 10px; */
    margin-top: 10px;
}
.wrapper-content{
     padding: 10px 10px 40px !important;
    
}