footer{
    width: 100%;
    clear: both;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}
.navbar{
    position: relative;
}
#content-forget-password{

    min-height: 350px;
    margin-bottom: 20px;
}
input[type="submit"]{
    margin-top: 10px;
}
#form-forget-password{
    padding: 0 15px 0 15px;
}

.message{
    color: #d9534f;
    font-size: 16px;
    font-weight: 500;
}
#btn-login{
    padding: 10px 50px 10px 50px;
    margin-top: 35px;
    background: #e73e5d;
}
#message{
    font-size: 32px;
    margin-bottom: 1em;
    font-family: "Minion Pro", serif;
    font-style: italic;
    text-transform: inherit;
    margin-top: 10px;
}
#notice{
    font-family: "BrandonText-Regular", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 17px;
}
.input{
        margin-bottom: 20px;
    
}
#error-message{
    margin-bottom: 10px;
    color:#e73e5d;
}
