footer{
    width: 100%;
    clear: both;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}
.navbar{
    position: relative;
}
#form-register{
    
    margin-bottom: 20px;
}
input[type="submit"]{
    margin-top: 10px;
}
#form-register{
    padding: 0 15px 0 15px;
}
.error-message{
    color:#d62c1a;
    margin: 5px;
}
