footer{
    width: 100%;
    clear: both;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}
.navbar{
    position: relative;
}
#content{
    height: 320px;
}
.icon-mail{
    width: 188px;
    height: 153px;
}
#message{
    font-size: 32px;
    margin-bottom: 1em;
    font-family: "Minion Pro", serif;
    font-style: italic;
    text-transform: inherit;
    margin-top: 10px;
}
#back-login{
    padding: 15px 60px 15px 60px;
    margin-top: 35px;
    background: #e73e5d;
}
#notice{
    font-family: "BrandonText-Regular", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 17px;
}